* {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#root {
  /* display:inline-block; */
  background: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.grid {
  vertical-align: top;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  right: 50%;
  margin-left: -60px;
  font-size: 0.75rem;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: black solid 1px;
  background: yellow;
  color: black;
}

.liveCell {
  background: black;
  color: yellow;
}

* {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

form {
  background: gold;
  border: solid darkgrey 1px;
  border-radius: 32px;
}
div .slider {
  margin: 0;
  width: 100%;
  background: grey;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

div .sliderOptions {
  width: 100%;
  margin: 0px;
  color: blue;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 0px 0;
}

label {
  letter-spacing: 2px;
  color: darkgrey;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 1px white, 0.5px 0.5px 1px black,
    -0.5px -0.5px 1px black, -0.5px -0.5px 1px black;
}

label::after {
  content: " ";
  width: 100%;
  border-bottom: 4px groove;
  display: block;
}

input#lifeCyleRangeSpeedSlide {
  margin: 0;
  padding: 0;
  width: 100%;
  cursor: grab;
}
